<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Title</title>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/img.css">

    {% endblock css %}

</head>
<body>


<div class="header">
    <p>欢迎来到{{ request.user.username }}的博客后台系统</p>
</div>
<div class="container">
    <nav class="navbar navbar-default">
        <p class="navbar-text col-md-2">
            <a href="{% url 'index' %}" class="navbar-link">回到博客园</a>
        </p>
        <p class="navbar-text col-md-2">
            <a href="/{{ request.user.username }}/" class="navbar-link">回到博客主页</a>
        </p>
        <p class="navbar-text col-md-1">
            <a href="{% url 'query_article' %}" class="navbar-link">查看文章</a>
        </p>
        <p class="navbar-text col-md-1">
            <a href="{% url 'add_article' %}" class="navbar-link">添加文章</a>
        </p>
        <p class="navbar-text col-md-1">
            <a href="{% url 'upload' %}" class="navbar-link">上传文件</a>
        </p>
    </nav>
</div>
<div>
{% block content %}

{% endblock %}
</div>

</body>
</html>