.header{
    width: 100%;
    height: 100px;
    background: url("/static/img/banner.gif") no-repeat center 0;
    background-size: cover;
    line-height: 100px;
    padding-left: 115px;
    font-size: 30px;
    color: #00aeef;
}
.CollapsibleTitle {
    font-size: 105%;
    background: #E5EEF7;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px dashed #AAAAAA;
    font-weight: bold;
    color: #333333;
    width: 100%;
    padding: 2px 12px;
    margin: 12px 0px 5px 0px;
    clear: left;
}






