.img{
    width: 1140px;
    height: 600px;
    background: url("/static/images/1.jpg") no-repeat center 0;
    background-size: cover;
    margin-left: 0px;
}
#span1{
    color: #337ab7;
    margin-left: 400px;
}
#span2{
    color: #337ab7;
    margin-left: 50px;
}
#span3{
    color: #337ab7;
    margin-left: 50px;
}
#span0{
    font-size: 16px;
    color: #337ab7;
}
