.header{
    width: 100%;
    height: 100px;
    background: #369;
    line-height: 100px;
    padding-left: 80px;
    font-size: 30px;
    color: white;
}
.show{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    /*background: #5bc0de;*/
    position: relative;

}
.show_nav{
    width: 300px;
    position: absolute;
}

.show_query{
    width: 900px;
    height: 500px;
    position: absolute;
    /*background-color: #00aeef;*/
    left: 300px;
    /*line-height: 500px;*/
    font-size: 50px;
    color: #00aeef;
    /*text-align: center;*/
}
.show_query ul{
    float: left;
    font-size: 18px;
    margin-right: 45px;
}
.show_query ul li{
    margin-top: 7px;
}

.show_query ul form input{
    font-size: 12px;
    margin-top: 9px;
}

.table{
    font-size: 25px;
}
.table th{
    margin-right: 10px;
}
span{
    margin-right: 55px;
    font-size: 22px;
}

