<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">文章分类</h3>
        </div>
        <div class="panel-body">
            {% for category in cate_list %}
                <p><a href="/{{ username }}/category/{{ category.0 }}/">{{ category.0 }}({{ category.1 }})</a></p>
            {% endfor %}

        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">分类标签</h3>
        </div>
        <div class="panel-body">
            {% for tag in tag_list %}
                <p><a href="/{{ username }}/tag/{{ tag.0 }}/">{{ tag.0 }}({{ tag.1 }})</a></p>
            {% endfor %}

        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">时间档案</h3>
        </div>
        <div class="panel-body">
            {% for date in date_list %}
                <p><a href="/{{ username }}/archives/{{ date.0 }}/">{{ date.0 }}({{ date.1 }})</a></p>
            {% endfor %}

        </div>
    </div>
</div>